.about_intro {
	box-sizing: border-box;
	font-size: 1.6rem;
	margin: 0 auto 5rem;
	line-height: 3rem;
	padding-left:5 11rem;
	width: 58rem;


	h2 {
		font-size: 3rem;
		font-weight: 600;
		margin: 15rem 0 2rem;
	}
}

.about_contact {
	margin: 5rem auto 5rem;

	li {
		line-height: 3rem;
	}
}

.cards {
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;	
	display: flex;
	gap: 10rem;
	overflow-x: scroll;
	margin: 1rem auto 5rem;
	width: 75vw;

	@media screen and (max-width: 1000px) {
		flex-direction: column;

		.gallery_image {
			width: 100%;
		}
	}
}

.card {
	scroll-snap-align: start;
}

.gallery_image {
	max-height: 60rem;
}