.posts {
	align-items: center;
	display: flex;
	flex-direction: column;

	.post_picture {
		margin: 0;
	}

	.post_image_caption {
		display: none;
	}
}

.post {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin: 0 auto 12rem;
}

.post_details {
	text-align: center;
	margin-bottom: 2rem;
}

.post_picture {
	align-self: center;
	border: none;
	margin-bottom: 2rem;
	order: 0;
	text-align: center;
}

.post_image {
	display: block;
	margin: 0 auto 2rem;
	max-height: 75vw;
	max-width: 75vw;
	object-fit: cover;

	@media screen  and (min-width: 70rem) {
		max-height: 50vw;
		max-width: 50vw;
	}
}

.post_image_caption {
	font-size: 1.2rem;
	display: inline-block;
	text-align: center;
}

.post_pubDate {
	order: 1;
	font-size: 1.4rem;
}

.post_title {
	display: block;
	font-family: 'Cormorant Garamond', serif;
	font-size: 3rem;
	font-weight: 600;
	margin: 1rem 0;
	order: 2;
}

.post_tags {
	list-style: none;
	order: 3;

	li {
		background-color: whitesmoke;
		border: 1px solid lightgrey;
		border-radius: 0.25rem;
		display: inline-block;
		font-size: 1.4rem;
		padding: 0.5rem;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.post_content {
	margin-bottom: 2vw;
}

.post_text {
	margin: 6rem 0 7rem;
	line-height: 2rem;

	ul {
		list-style: circle;
	}

	ol {
		list-style: decimal;
	}

	ol, ul {
		margin: 0.5rem 2rem;
	}

	strong, b {
		font-weight: bold;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 1rem 0;
	}

	h1 { font-size: 2.4rem; }
	h2 { font-size: 2.2rem; }
	h3 { font-size: 2rem; font-weight: bold; }
	h4 { font-size: 1.8rem; }
	h5 { font-size: 1.6rem; font-weight: bold; }
	h1, h2, h3, h4, h5 {
		margin: 1.5rem 0 0.5rem
	}
}
